#launcher-arrow {
  padding: 0 12px;
  background-color: none;
}

#launcher-arrow:hover {
  background-color: #bfccd933;
}

#sn-button {
  background-color: none;
  padding: 0 3px;
}

#sn-button:hover {
  background-color: #bfccd933;
}

#clock-button {
  padding: 0 8px;
  background-color: none;
  margin-right: 6px;
}

#clock-button:hover {
  background-color: #bfccd933;
}

#genmon-6 .genmon_imagebutton {
  border-left: 1px solid #8fa8cd;
  background-color: none;
}

#genmon-6 .genmon_imagebutton:hover {
  background-color: #bfccd933;
}

#genmon-6 image {
  -gtk-icon-transform: scale(0);
}